@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root{
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #22c166;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #22c166;
    --secondary: #6c757d;
    --success: #0ea56f;
    --info: #9effce;
    --warning: #d9ffae;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #02232d;
}

html, body{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-color: var(--light);
    font-family: 'Nunito', Helvetica, Arial;
    display: grid;
    place-content: center;
}